
body{
    background-color:  rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(255, 255, 255, 1)),url('../img/Fondo.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding-top: 10%;
    margin-bottom: 2%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    animation: moverFondo 15s ease-in-out infinite alternate;
}

@keyframes moverFondo{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

.titulo{
    background-color: #94d5b5;;
    align-content: center;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.1);

}
.titulo .Enc{
    padding-left: 5dvh;
    height: 10vw;
    display: flex;
    align-content:center;
    justify-content: center;
}
.titulo .Enc img{
    border-radius: 100%;
    height: 6vw;
    align-self: center;
}

.titulo .Enc .Logo{
    background: url('../img/LogoPag.png');
    background-position:center;
    background-size: cover;
    height:100%;
    width:30vw;
}
.info{
    background-color: rgb(106, 199, 194);
    padding:1px;
    margin: 0; 
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 4.3vw;
    order: 1px solid #ffffff;
    overflow: hidden;
    font-size: 1.4vw;
    color:rgb(6, 50, 43); ;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    letter-spacing: 8px;
    font-weight: 1000;
}
.Barra{
    padding:0;
    margin: 0; 
    background-color: rgb(42, 152, 108);
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 6vw;
}

.Barra ul {
    display: flex;
    align-content: center;
    justify-content: space-between; 
    list-style: none;
    width: 95%; 
    padding:0;
    margin: 0;
    font-size: 2.4vw;
}
.Barra a{
    color: black;
    text-decoration: none;
    margin-inline: 10px;
}
.Barra img{
    height: 2vw;
}


.Barra li:hover{
    filter: grayscale(100%);
    filter: brightness(0) invert(1); 
    font-size: 2.2vw;
    transition-duration: .7s;
}



.Container{
    display: flex;
    flex-direction: row;
}
.Menu{
    width: 30%;
    margin-top: 3vw;
    padding:0;
    margin: 0; 
    background-color: rgb(28, 123, 107);
    padding-top: 5%;
}

.Menu ul {
    display: flex;
    align-content: center;
    justify-content: space-between; 
    list-style: none;
    width: 95%; 
    padding:0;
    padding-left: 3vw;
    margin: 0;
    font-size: 2vw;
    margin-bottom: 15px;

}
.Menu ul li {
    margin-bottom: 3vw;
}


.Menu a{
    padding-left: 1%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-inline: 10px;
}
.Menu img{
    height: 2vw;
}


.Menu li:hover{
    filter: grayscale(100%);
    filter: brightness(0) invert(1); 
    font-size: 2.2vw;
    transition-duration: 1s;
}

.Info {
    background-color: rgb(161, 225, 194);
    width: 80%;
}

    iframe {
        width: 100%;
        height: 63vh;
        top: 0;
        left: 0;
    }

.Pie{
    padding:0;
    margin: 0; 
    background-color:rgb(28, 123, 107);
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    
    height: 10vw;
    box-shadow: 10px 5px 15px 10px rgb(1, 1, 1,0.3);
}

.Pie ul {
    display: flex;
    align-content: center;
    justify-content:space-around;
    list-style: none;
    flex-wrap: nowrap;
    width: 95%; 
    padding:0;
    margin: 0;
    font-size: 1.3vw;
}
.Pie a{
    
    color: black;
    text-decoration: none;
    margin-inline: 5px;
}
.Pie img{
    height: 1.5vw;
    image-resolution: 420px;
}


.Pie li:hover{
    filter: grayscale(100%);
    filter: brightness(0) invert(1); 
    transition-duration: 1s;
}